@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

body{
    background-color: rgb(178, 211, 194);
    overflow-x: hidden;
}

h1{
    font-family: 'Roboto Slab', serif;
}

label{
    font-family: "Roboto Light";
}

.formbtn{
    background-color: rgb(78, 156, 129);
    font-family: "Roboto Light";
}

.formbtn:hover{
    background-color: rgb(54, 109, 91);
    color: white;
}

